.Rproj.user
.Rhistory
.RData
.Ruserdata
waste
intro_to_tidyverse_doc.tex
intro_to_tidyverse_doc_files
intro_to_tidyverse_ppt.tex
intro_to_tidyverse_ppt_NG.log
intro_to_tidyverse_ppt_NG.tex
intro_to_tidyverse_ppt_org.html
intro_to_tidyverse_ppt_pdf.tex
intro_to_tidyverse_ppt_pdf_files
error
intro_to_tidyverse_doc.html
test
intro_to_tidyverse_ppt_pdf.aux
intro_to_tidyverse_ppt_pdf.log
intro_to_tidyverse_ppt_pdf.out
intro_to_tidyverse_ppt_pdf.nav
debug.log
visualization_files
visualization.tex
